{#
    Try to keep this text short. Too long and it distracts from
    the donation UI and will reduce the number of conversions you
    actually get.
#}
<p>Your donation here supports <a href="https://tilde.club">tilde.club</a>, and any other services that are run by tilde.club.</p>

<p> I pay for hosting and domain costs out of pocket and spend far more time than I should running these services. Anything you can pitch in helps keep everything up and running.</p>

<p>My hosting costs are around $200/month and domains are around $150/year.</p>

<p>Donations are securely processed through Stripe, and your payment information is not stored on my servers. I am charged a 2.9%+30c fee per transaction.</p>

